# Astro build outputs
dist
.astro

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Content
content/
public/*
src/styles/custom.css

.gstack/
