@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  p:not(:last-child) {
    @apply mb-3;
  }
  hr {
    @apply my-4;
  }
  img {
    @apply select-none;
    -webkit-user-drag: none;
  }
}

.hover-opacity {
  transition: opacity 0.2s ease-in-out;
  &:hover {
    @apply opacity-80;
  }
}

.popup-container {
  @apply fixed top-0 left-0 w-full h-full bg-white p-2 md:p-6 z-50;
  transition: opacity 0.2s ease-in-out;
  &:not(.show) {
    @apply opacity-0 z-[-10];
  }
}

.collapse-children {
  @apply pl-4;
  max-height: 0;
  overflow: hidden;
}

.collapse-children.open {
  @apply my-1;
  max-height: 100vh;
}

swiper-container {
  --swiper-theme-color: theme('colors.gray.100');
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-size: 2rem;
  &::part(button-prev), &::part(button-next) {
    padding: .25rem;
    background-color: #AAAA;
  }
  @media (max-width: theme('screens.md')) {
    --swiper-navigation-top-offset: 90%;
    --swiper-navigation-sides-offset: 30%;
  }
}

.gallery-thumbs {
  .swiper-slide img {
    @apply rounded-md;
    transition: border 0.1s ease-in-out;
  }
  .swiper-slide-thumb-active img {
    @apply border-4 border-gray-300;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-on-open {
  animation: fadeIn 0.2s ease-in-out;
}